:root {
  --softBlack:      #33383f;
  --brandColor:     #ed1c24;
  --linkColor:      #3fa2f7;
  --accentColor:    color(var(--linkColor) tint(10%));
  --textColor:      #1b1b1b;
  --textColorSoft:  #373a3c;
  --textFont:       'Roboto', Calibri, Arial, sans-serif;
  --loudFont:       var(--textFont);
};
