@import "_starlink-variables.scss";

:root {
    --softBlack: $softBlack;
    --brandColor: $brandColor;
    --linkColor: $linkColor;
    --accentColor: color($linkColor tint(10%));
    --textColor: $textColor;
    --textColorSoft: $textColorSoft;
    --textFont: $textFont;
    --loudFont: var(--textFont);
};
