/* General slider styles */
.djslider-loader-override {
	margin: 0 auto;
	position: relative;
	background: url(../images/loader.gif) center center no-repeat;
	max-width: 100%;
	overflow: hidden;
	max-height: 500px;
}
.djslider-override {
	margin: 0 auto;
	position: relative;
	-webkit-transition: opacity 400ms ease;
	transition: opacity 400ms ease;
	opacity: 0;
	max-height: 500px;
}
.djslider-override .slider-container {
	position: absolute;
	overflow:hidden;
	left: 0; 
	top: 0;
	height: 100%;
	width: 100%;
}
.djslider-override ul.djslider-in {
	position: relative;
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	height: 100%;
}
.djslider-override ul.djslider-in > li {
	list-style: none outside !important;
	float: left;
	padding: 0 !important;
	border: 0 !important;
	position: relative;
	background: none;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	max-height: 100%;
}
ul.djslider-in > li {
	text-align: center;
}	
.djslider-override img.dj-image {
	border: 0 !important;
	margin: 0 !important;
	min-width: 100%;
}
.djslider-override.img-vcenter img.dj-image {
	position: relative;
  	top: 50%;
  	-webkit-transform: translate(-50%,-50%);
  	-ms-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);
	left: 50%;
}
/* Slide description area */
.djslider-override .slide-desc {
	position: absolute;
	top: 50% !important;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.djslider-override .slide-desc-in {
	position: relative;
}

.slide-desc-text-override a.readmore:hover{
	background: #fff;
	color: #3c506b;
	text-decoration: none;
	text-shadow: 0 0 0 #303030;
}

/* Navigation buttons / indicators */
.djslider-override .navigation-container {
	position: relative;
	text-align: center !important;
}
.djslider-override .navigation-container a {
	outline: none;
}
.djslider-override .navigation-container .prev-button {
	cursor: pointer;
	display: block;
	position: absolute;
	left: 15px;
	outline: none;
}
.djslider-override .navigation-container .next-button {
	cursor: pointer;
	display: block;
	position: absolute;
	right: 15px;
	outline: none;
}
.djslider-override .navigation-container .play-button, 
.djslider-override .navigation-container .pause-button {
	cursor: pointer;
	display: block;
	position: absolute;
	left: 50%;
}

.djslider-override .load-button {
	width: 11px;
	height: 11px;
	display: inline-block;
	background: transparent;
	border: 1px solid #fff;
	margin: 0 8px;
	cursor: pointer;
	border-radius: 50%;
	opacity: 1;
	-webkit-transition: opacity 400ms ease;
	transition: opacity 400ms ease;
	outline: none;
}
.djslider-override .load-button-active {
	background: #fff;
}
.djslider-override .navigation-numbers .load-button {
	width: 16px;
	height: 16px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	line-height: 16px;
	color: #fff;
}

/* Fading elements */
.djslider-loader-override .showOnHover {
	opacity: 0;
	-webkit-transition: opacity 200ms ease 50ms;
	transition: opacity 200ms ease 50ms;
}
.djslider-loader-override:hover .showOnHover,
.djslider-loader-override.focused .showOnHover {
	opacity: 1;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.slide-desc-bg-override {
		position:absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 800px;
		margin: 0 auto;
		height: 100%;
	}
	.slide-desc-text-override {
		position: relative;
		color: #fff;
		padding: 15px 15px 5px;
		text-align: center;
		text-shadow: 0 0 10px #303030;
	}
	.slide-desc-text-override .slide-title {
		font-size: 45px;
		line-height: 58px;
		color: #fff;
		margin-bottom: 10px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
	}
	.slide-desc-text-override .slide-title a {
		color: #fff;
	}
	.slide-desc-text-override a.readmore {
		display: block;
		border: 1px solid #fff;
		color: #fff;
		font-weight: bold;
		font-size: 16px;
		padding: 5px 40px;
		border-radius: 100px;
		margin: 20px auto 10px;
		width: 60%;
	}
	.slide-text p{
		/*display: none;*/
	}
	.djslider-override .navigation-container-custom, .djslider-override .navigation-numbers {
		position: absolute;
		bottom: 25px;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.slide-desc-bg-override {
		position:absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 800px;
		margin: 0 auto;
		height: 100%;
	}
	.slide-desc-text-override {
		position: relative;
		color: #fff;
		padding: 15px 15px 5px;
		text-align: center;
		text-shadow: 0 0 10px #303030;
	}
	.slide-desc-text-override .slide-title {
		font-size: 45px;
		line-height: 58px;
		color: #fff;
		margin-bottom: 10px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
	}
	.slide-desc-text-override .slide-title a {
		color: #fff;
	}
	.slide-desc-text-override a.readmore {
		display: block;
		border: 1px solid #fff;
		color: #fff;
		font-weight: bold;
		font-size: 16px;
		padding: 5px 40px;
		border-radius: 100px;
		margin: 20px auto 10px;
		width: 33%;
	}
	.slide-text p{
		font-size: 15px;
		display: block;
	}
	.djslider-override .navigation-container-custom, .djslider-override .navigation-numbers {
		position: absolute;
		bottom: 25px;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.djslider-override .navigation-container-custom,
	.djslider-override .navigation-numbers {
		position: absolute;
		bottom: 45px;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
	}
	.slide-desc-bg-override {
		position:absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 800px;
		margin: 0 auto;
		height: 100%;
	}
	.slide-desc-text-override {
		position: relative;
		color: #fff;
		padding: 15px 15px 5px;
		text-align: center;
		text-shadow: 0 0 10px #303030;
	}
	.slide-desc-text-override .slide-title {
		font-size: 55px;
		color: #fff;
		margin-bottom: 10px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
	}
	.slide-desc-text-override .slide-title a {
		color: #fff;
	}
	.slide-desc-text-override a.readmore {
		display: block;
		border: 1px solid #fff;
		color: #fff;
		font-weight: bold;
		font-size: 16px;
		padding: 12px 85px;
		border-radius: 100px;
		margin: 30px auto 10px;
		width: 33%;
	}
	.slide-text p{
		font-size: 18px;
	}
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
	.slide-desc-bg-override {
		position:absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 800px;
		margin: 0 auto;
		height: 100%;
	}
	.slide-desc-text-override {
		position: relative;
		color: #fff;
		padding: 15px 15px 5px;
		text-align: center;
		text-shadow: 0 0 10px #303030;
	}
	.slide-desc-text-override .slide-title {
		font-size: 72px;
		line-height: 92px;
		color: #fff;
		margin-bottom: 10px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
	}
	.slide-desc-text-override .slide-title a {
		color: #fff;
	}
	.slide-desc-text-override a.readmore {
		display: block;
		border: 1px solid #fff;
		color: #fff;
		font-weight: bold;
		font-size: 16px;
		padding: 20px 85px;
		border-radius: 100px;
		margin: 30px auto 10px;
		width: 33%;
	}
	.slide-text p{
		font-size: 21px;
	}
}

/* for higher resolutions (android and retina) */
@media (max-width: 767px) {
	.slide-desc-bg-override {
		position:absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 800px;
		margin: 0 auto;
		height: 100%;
	}
	.slide-desc-text-override {
		position: relative;
		color: #fff;
		padding: 15px 15px 5px;
		text-align: center;
		text-shadow: 0 0 10px #303030;
	}
	.slide-desc-text-override .slide-title {
		font-size: 30px;
		color: #fff;
		margin-bottom: 10px;
		margin-top: -25px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
	}
	.slide-desc-text-override .slide-title a {
		color: #fff;
	}
	.slide-desc-text-override a.readmore {
		display: block;
		border: 1px solid #fff;
		color: #fff;
		font-weight: bold;
		font-size: 16px;
		padding: 5px 40px;
		border-radius: 100px;
		margin: 20px auto 10px;
		width: 60%;
	}
	.slide-text p{
		display: none;
	}
	.djslider-override .navigation-container-custom, .djslider-override .navigation-numbers {
		position: absolute;
		bottom: 25px;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
	}
	.slide-desc{
		padding: 0 50px !important;
	}
}
@media (max-width: 570px) {
	.mainSliderBlock{
		/*! display: none; */
	}
}