/*font*/
@font-face {
    font-family: 'HelveticaNeue-Regular';
    src: url('../fonts/HelveticaNeue/helveticaneuecyr-roman.ttf'),
    url('../fonts/HelveticaNeue/helveticaneuecyr-roman.eot'),
    url('../fonts/HelveticaNeue/helveticaneuecyr-roman.otf'),
    url('../fonts/HelveticaNeue/helveticaneuecyr-roman.woff'),
    url('../fonts/HelveticaNeue/helveticaneuecyr-roman.svg');
}
@font-face {
    font-family: 'HelveticaNeue-Medium';
    src: url('../fonts/HelveticaNeue/helveticaneuecyr-medium.ttf'),
    url('../fonts/HelveticaNeue/helveticaneuecyr-medium.eot'),
    url('../fonts/HelveticaNeue/helveticaneuecyr-medium.otf'),
    url('../fonts/HelveticaNeue/helveticaneuecyr-medium.woff'),
    url('../fonts/HelveticaNeue/helveticaneuecyr-medium.svg');
}
@font-face {
    font-family: 'HelveticaNeue-Ligth';
    src: url('../fonts/HelveticaNeue/helveticaneuecyr-light.ttf'),
    url('../fonts/HelveticaNeue/helveticaneuecyr-light.eot'),
    url('../fonts/HelveticaNeue/helveticaneuecyr-light.otf'),
    url('../fonts/HelveticaNeue/helveticaneuecyr-light.woff'),
    url('../fonts/HelveticaNeue/helveticaneuecyr-light.svg');
}
@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('../fonts/HelveticaNeue/helveticaneuecyr-bold.ttf'),
    url('../fonts/HelveticaNeue/helveticaneuecyr-bold.eot'),
    url('../fonts/HelveticaNeue/helveticaneuecyr-bold.otf'),
    url('../fonts/HelveticaNeue/helveticaneuecyr-bold.woff'),
    url('../fonts/HelveticaNeue/helveticaneuecyr-bold.svg');
}

