/* FRONTEND CSS
*********************************************/

html {
	/* scrollbar fix (prevent ugly left pull for lower content sites) */
	overflow-y: scroll;
	min-height: 100%;
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	min-height: 100%;
	position: relative;
}

a:hover, a:focus{
	text-decoration: none;
	cursor: pointer;
}

.clear{
	clear: both;
}

.logo-img{
	padding: 15px 0;
}
.topPhone{
	font-size: 26px;
	font-weight: bold;
	padding: 31px 0 32px 45px;
	background: url('../images/main/topPhone.png') no-repeat left center;
}
.topPhoneMobile{
	background: #33383F;
}
.topPhoneMobile .topPhone{
	font-size: 26px;
	font-weight: bold;
	padding: 7px 0 7px 45px;
	background: url('../images/main/topPhone.png') no-repeat left center;
	width: 275px;
	margin: 0 auto;
	color: #fff;
}

.topPhone a{               /* am: company phone in for of skype, viber etc. link with the same color as text */
	color: inherit;
}

.partners-container{
	margin-bottom: 35px;
}
.partners h3{
	margin: 50px 0 20px;
	text-align: center;
	font-size: 42px;
	font-family: 'HelveticaNeue-Ligth', sans-serif;
	color: #1B1B1B;
}
.partners .partner-bl{
	width: 100%;
	height: 150px;
	text-align: center;
	border: 1px solid #cacfd3;
	border-radius: 4px;
	padding: 0;
	margin: 15px 0;
	position: relative;
}
.partners .partner-bl img{
	margin: auto;
	position:absolute;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
}
.partners-p{
	margin-bottom: 15px;
	text-align: center;
	font-family: 'HelveticaNeue-Roman', sans-serif;
	color: #373A3C;
	font-size: 16px;
	line-height: 25px;
}

#map{
	width: 100%;
	height: 400px;
}

.services-bl{
	background: #33383F;
	padding-bottom: 40px;
}
.services h3{
	margin: 30px 0 30px;
	color: #fff;
	opacity: 0.8;
	font-size: 42px;
	font-weight: 300;
	text-align: center;
}
.services h4, 
.services p
{
	color: #fff;
	text-align: center;
}
.services .services-a{
	display: block;
	border: 1px solid #fff;
	border-radius: 4px;
	margin-bottom: 30px;
	padding: 25px 10px;
	color: #fff;
	cursor: pointer;
	height: 108px;
}
.services-a .link-header{
	display: block;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 6px;
	text-transform: uppercase;
}
.services-a .link-text{
	display: block;
	font-size: 12px;
	line-height: 15px;
	margin-right: 40px;
}
.services-a .link-img{
	min-height: 75px;
}
.services-a:hover{
	background: #fff;
	color: #1B1B1B;
	box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}
.services-a:hover .link-header{
	color: #D0021B;
}

.no-ready-to-call-bl{
	background: #F5F6F7;
}
.no-ready-to-call-bl .container{
	background: url('../images/main/paper.png') no-repeat bottom left;
}
.not-ready-to-call h3 {
	margin: 50px 0 28px;
	text-align: center;
	/* font-family: 'HelveticaNeue-Ligth', sans-serif; */
	font-weight: 300;
	font-size: 42px;
}
.not-ready-to-call .leftBlNotReadyCall p, .not-ready-to-call .rightBlNotReadyCall p{
	margin: 0 15px 20px;
/* 	margin-bottom: 20px;
	 */
}

.moduletable-orderSurvey {
	padding:0 15px;
}

div#fox-container-m95{
	margin: 20px 15px 30px;
	min-height: 265px;
}
div#fox-container-m95 h2{
	font-weight: bold;
	font-size: 18px;
	color: #3C3D41;
	margin: 0 15px;;
}
div#fox-container-m95 .freeQuestionnaire button.btn, div#fox-container-m100 .sendLetterButton button.btn,
div#fox-container-m115 .sendLetterButton button.btn{
	text-align: center;
	width:100%;
	margin: 0 auto;
	padding: 20px;
	background: #3FA2F7;
	border-radius: 30px;
	outline: none;
	text-shadow: none;
	border: 1px solid #3FA2F7;
}
div#fox-container-m95 .freeQuestionnaire button.btn:hover, div#fox-container-m100 .sendLetterButton button.btn:hover,
div#fox-container-m115 .sendLetterButton button.btn:hover{
	background: #fff;
}
div#fox-container-m95 .freeQuestionnaire button.btn:hover span, div#fox-container-m100 .sendLetterButton button.btn:hover span,
div#fox-container-m115 .sendLetterButton button.btn:hover span{
	color: #3FA2F7;
}
div#fox-container-m95 .freeQuestionnaire button.btn span, div#fox-container-m100 .sendLetterButton button.btn span,
div#fox-container-m115 .sendLetterButton button.btn span{
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}
div#fox-container-m95 .freeQuestionnaireInput input[type="text"], div#fox-container-m100 .sendLetterInput input[type="text"],
div#fox-container-m100 .sendLetterArea textarea{
	padding: 12px 10px;
	font-size: 14px;
	height: auto;
	line-height: 14px;
	margin-bottom: 20px;
	width: 100%;
}
div#fox-container-m100 .sendLetterArea textarea{
	margin-bottom: 0;
}
div#fox-container-m95 .fox-form-stacked .controls, div#fox-container-m100 .fox-form-stacked .controls {
	float: none !important;
}
div#fox-container-m95 .freeQuestionnaireInput .control-label label {
	display: none;
}
div#fox-container-m100 .fox-form-stacked #fox-m100-submit-box .controls{
	width: 100%;
}


.profitable-it-outsourcing{
	padding-bottom: 115px;
	background: url('../images/main/business.jpg') no-repeat center center;
	background-size: cover;
}
.profitable-it-outsourcing h3{
	font-family: 'HelveticaNeue-Ligth', sans-serif;
	font-size: 42px;
	margin: 125px 0 20px;
	color: #1B1B1B;
}
.profitable-it-outsourcing p{
	line-height: 20px;
	color: #333;
}

.reviewsBl{
	margin-bottom: 50px;
}
.reviews h3{
	margin-top: 50px;
	padding: 0 0 50px;
	color: #1b1b1b;
	font-weight: 300;
	font-size: 42px;
	line-height: 50px;
	text-align: center;
}
.singleReview{
	border: 1px solid rgba(155, 155, 155, 0.3);
	border-radius: 6px;
	text-align: center;
	margin-bottom: 40px;
}
.reviewerPText{
	margin: 20px;
	font-size: 18px;
	color: #1B1B1B;
	line-height: 28px;
	text-align: center;
}
.reviewerPosition{
	text-align: center;
	color: #2C99ED;
	line-height: 20px;
	font-size: 16px;
}
.reviewerName{
	text-align: center;
	color: #1B1B1B;
	line-height: 20px;
	text-transform: uppercase;
	margin-top: 20px;
}
.reviewerImg{
	margin-top: -30px;
}

div#fox-container-m100 .control-label, div#fox-container-m100 .control-label label{
	display: none;
}

.contentBl{
	margin-bottom: 30px;
}
.contactsBl>.row{
	margin: 0;
	border-top: 1px solid #E1E7EB;
}
.contactsBl>.row:last-child{
	border-bottom: 1px solid #E1E7EB;
}
.contactsBl>.row>div{
	font-size: 16px;
	padding: 17px 0 17px 17px;
	color: #000;
	font-weight: bold;
}
.contactsBl>.row>div:first-child{
	color: #9B9B9B;
	font-weight: 300;
	padding: 17px 0 17px 0;
}
.contactsBl>.row .alignRight{
	text-align: right;
}

.moreAboutOurProjLink{
	text-align: center;
	margin-top: 8px;
}
.moreAboutOurProjLink a{
	color: #2C99ED;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
}
.moreAboutOurProjLink a .rightArrow, a .rightArrow{
	margin: 0 20px;
	padding: 0 3px;
	background: url('../images/main/rightArrow.png') no-repeat center 6px;
}

.sendLetterBl h3, .contactsBl h3{
	font-size: 32px;
	font-weight: 300;
	line-height: 40px;
}

.sendLetterBl h3 {
	margin-bottom: 0;
}
.contactsBl h3 {
	margin-bottom: 20px;
}


#mainmenu li.item-101{
	display: none;
}
#mainmenu li{
	display: inline-block;
}
#mainmenu .nav-child{
	display: none;
}
.navbar{
	border: none;
	margin-bottom: 0;
}
.navbar-default {
	background-color: #fff;
}
.navbar-default .navbar-nav > li > a{
	border-bottom: 5px solid transparent;
	padding: 30px 0 10px;
	margin: 0 10px;
	font-size: 14px;
	color: #1b1b1b;
	font-weight: bold;
}
.navbar-default .navbar-nav > li.deeper{
	position: relative;
}
.navbar-default .navbar-nav > li.deeper{
	padding-right: 10px;
	background: url('../images/main/menuBottomArrow.png') no-repeat right 20px;
	border-right: 10px solid transparent;
}
.navbar-default .navbar-nav > li.deeper a:hover,
.navbar-default .navbar-nav > li.deeper.active a:hover,
.navbar-default .navbar-nav > li.deeper a:hover{
	color: #ED1C24;
	cursor: pointer;
}
.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:hover, .navbar-default .navbar-nav > li > a:hover{
	border-bottom: 5px solid #ED1C24;
	background: none;
	color: #1b1b1b;
	cursor: pointer;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	 background-color: transparent;
}
.navbar-default .navbar-toggle {
	 border-color: transparent;
}
.navbar-toggle .icon-bar {
	display: block;
	width: 28px;
	height: 3px;
	border-radius: 2px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ED1C24;
}
.navbar-default .collapsed .icon-bar {
	background-color: #33383F;
}

#mainmenu>li>ul.nav-child>li{
	display: block;
	float: left;
}
#mainmenu>li>ul.nav-child>li>a{
	display: block;
	padding: 15px 20px;
	min-width: 250px;
	font-size: 14px;
	line-height: 16px;
	color: #1b1b1b;
	border-bottom: 1px solid #777;
}
#mainmenu>li>ul.nav-child>li>a:hover{
	color: #ED1C24;
	background: #ECEEEF;
}


.aboutPageBl{
	background: url('../images/main/aboutBg.jpg') no-repeat center center;
	background-size: cover;
}
.aboutMainCenterText{
	padding-top: 100px;
	color: #fff;
	font-weight: normal;
	font-family: 'HelveticaNeue-Bold', sans-serif;
}
.aboutMainCenterText h4{
	font-size: 21px;
	line-height: 30px;
	margin: 0 30px 40px;
}
.aboutMainCenterText h4:last-child{
	font-family: 'HelveticaNeue-Roman', sans-serif;
}
.iconBlocks{
	padding-bottom: 60px;
	margin-top: 10px;
}
.iconBlocks>div{
	text-align: center;
}
.iconBlocks>div .aboutIcon{
	color: #fff;
	margin: 20px 0;
	font-family: 'HelveticaNeue-Bold', sans-serif;
	line-height: 20px;
}
.aboutPageArticleText h2{
	margin: 0 0 30px;
	font-family: 'HelveticaNeue-Ligth', sans-serif;
	font-size: 42px;
	line-height: 50px;
}
.aboutPageArticleText p{
	font-family: 'HelveticaNeue-Roman', sans-serif;
	line-height: 20px;
	color: #1b1b1b;
	margin-bottom: 20px;
}
.aboutArticle{
	margin: 35px 0;
}
.bottomArrowBl{
	text-align: center;
	margin-bottom: 50px;
}

.newsFluidBl{
	background: #F5F6F7;
	border-top: 1px solid #E1E7EB;
}
.newsFluidBl .blog h2{
	margin: 45px 0 20px;
	text-align: center;
}
.newsFluidBl .blog h2 .subheading-category{
	font-size: 72px;
	font-weight: 300;
	line-height: 80px;
	color: #1b1b1b;
}
.newsFluidBl .blog .category-desc{
	color: #9B9B9B;
	font-size: 21px;
	line-height: 30px;
	text-align: center;
}
.imgMgAuto{
	margin: 0 auto;
}
.blog .items-row .span12{
	box-shadow: 0 5px 10px rgba(0,0,0,0.05);
	margin-bottom: 50px;
}
.blog .items-row .span12 .page-header{
	margin: 20px 30px 10px;
	border: none;
	padding-bottom: 0;
}
.blog .items-row .span12 .page-header h2{
	margin: 0;
	text-align: left;
}
.blog .items-row .span12 .page-header h2 a{
	color: #3FA2F7;
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
}
.blog .items-row .span12 .newsCatAndDate{
	margin: 0 30px 10px;
	color: #9B9B9B;
	line-height: 20px;
}
.blog .items-row .span12 .item>p{
	margin: 0 30px 10px;
}
.blog .items-row .span12 .newsCategoryItemFooter{
	border-top: 1px solid #EAEAEA;
	padding: 20px 5px 20px 30px;
	margin: 0;
}
.newsHits{
	padding-left: 30px;
	background: url('../images/main/eye.png') no-repeat left center;
	color: #9B9B9B;
}
.newsReadMore p.readmore{
	margin: 0;
	text-align: right;
}
.newsReadMore p.readmore a.btn{
	font-size: 0;
	padding: 10px 11px;
	background: url('../images/main/readmoreIcon.png') no-repeat left center;
}
.newsShowMoreNewsRow{
	margin: 20px auto 50px;
}
.newsShowMoreNewsRow .newsShowMoreNewsCol{
	text-align: center;
}
.newsShowMoreNews{
	color: #3FA2F7;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	border: 1px solid #3FA2F7;
	border-radius: 30px;
	padding: 20px 105px 20px 95px;
}
.newsShowMoreNews:hover, .newsShowMoreNews:focus{
	color: #3FA2F7;
	background: rgba(63, 162, 247, 0.03);
}
.newsShowMoreNews .loadMoreNewsIcon{
	margin: 0 0 0 20px;
	padding: 13px 11px;
	background: url('../images/main/showMoreNewsIcon.png') no-repeat left center;
}

.servicesTopBlWithBg{
	background: url('../images/main/servicesTopBlBg.jpg') no-repeat center center;
	background-size: cover;
}
.servicesPageTopBl h3{
	margin: 50px 0 20px;
	font-size: 72px;
	font-weight: 300;
	color: #fff;
	line-height: 80px;
	text-align: center;
}
.servicesPageTopBl p{
	font-size: 16px;
	line-height: 25px;
	color: #fff;
	font-family: 'HelveticaNeue-Roman', sans-serif;
	text-align: center;
	margin-bottom: 50px;
}
.servicesPageInnerServicesBl{
	margin-top: 50px;
}
.servicesPageInnerServicesBl .consulting{
	text-align: center;
	padding: 25px 0;
	background: #3FA2F7;
	border-radius: 4px;
}
.servicesPageInnerServicesBl .outsourcing{
	text-align: center;
	padding: 25px 0 26px;
	background: #78379D;
	border-radius: 4px;
}
.servicesPageInnerServicesBl .integration{
	text-align: center;
	padding: 24px 0;
	background: #E67E22;
	border-radius: 4px;
}
.servicesPageInnerServicesBl .dataCenter{
	text-align: center;
	padding: 25px 0;
	background: #E74C3C;
	border-radius: 4px;
}
.servicesPageInnerServicesBl .security{
	text-align: center;
	padding: 24px 0;
	background: #40BE65;
	border-radius: 4px;
}.servicesPageInnerServicesBl .webprojects{
	 text-align: center;
	 padding: 25px 0 26px;
	 background: #EDC054;
	 border-radius: 4px;
 }
.servicesPageInnerServicesBl img.img-responsive{
	margin: 0 auto;
}
.servicesPageInnerServicesBl h4{
	margin: 20px 0;
	font-weight: normal;
}
.servicesPageInnerServicesBl h4 a{
	color: #3FA2F7;
	font-size: 18px;
	line-height: 20px;
}
.servicesPageInnerServicesBl p{
	line-height: 20px;
	color: #9b9b9b;
	margin: 0;
}
.servicesPageInnerServicesBl>.row>div{
	margin-bottom: 50px;
}

.lastNews{
	background: #F5F6F7;
}
.lastNews h3{
	text-align: center;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	margin: 50px 0;
	color: #000;
}
.showAllNews{
	text-align: center;
	margin-bottom: 50px;
}
.showAllNews a{
	color: #2C99ED;
	font-size: 16px;
	line-height: 26px;
	font-weight: 500;
}

.itOutsourcingTopBlWithBg{
	background: url('../images/main/itOutsourcingTopBlBg.jpg') no-repeat center center;
	background-size: cover;
}
.itOutsourcingTopBlWithBg h3{
	margin: 210px auto 150px;
	color: #fff;
	font-size: 50px;
	line-height: 60px;
	text-align: center;
	font-weight: 300;
	max-width: 435px;
}

.itOutsourcingWeProposeYou{
	background: #F5F6F7;
}
.itOutsourcingWeProposeYou h3{
	margin: 50px 0 20px;
	text-align: center;
	font-family: 'HelveticaNeue-Ligth', sans-serif;
	font-size: 42px;
	line-height: 50px;
	color: #1b1b1b;
	font-weight: normal;
}
.itOutsourcingWeProposeYouCenterText{
	margin-bottom: 50px;
}
.itOutsourcingWeProposeYouCenterText h4{
	font-family: 'HelveticaNeue-Roman', sans-serif;
	font-weight: normal;
	color: #373A3C;
	font-size: 16px;
	line-height: 25px;
}
.itOutsourcingWeProposeYouIconBlocks{
	margin-bottom: 55px;
}
.itOutsourcingWeProposeYouIconBlocks>div{
	text-align: center;
}
.itOutsourcingWeProposeYouIconBlocks h5{
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	color: #2c2c2c;
	margin: 20px 15px 30px;
}

.itOutsourcingCallInfoBl{
	background: url('../images/main/itOutsourcingCallInfoBl.png') no-repeat center center;
	background-size: cover;
}

.itOutsourcingCallInfoBl h3 {
    margin: 25px auto 25px;
    color: #fff;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    font-weight: 300;
}

.itOutsourcingSingleTextBl p{
	font-family: 'HelveticaNeue-Roman', sans-serif;
	font-size: 16px;
	line-height: 25px;
	color: #333;
}
.itOutsourcingSingleTextBl{
	margin: 0 0 40px;
}
.itOutsourcingSingleTextBl:first-child{
	margin: 50px 0 40px;
}

.calcItOutsource h3{
	margin: 50px 150px 20px;
	text-align: center;
	font-size: 42px;
	line-height: 50px;
	color: #1b1b1b;
	font-family: 'HelveticaNeue-Ligth', sans-serif;
	font-weight: normal;
}
.calcItOutsource .calcItOutsourceTopParagraph{
	margin: 0 120px 50px;
	font-size: 16px;
	line-height: 25px;
	color: #373A3C;
	text-align: center;
}

.searchButton {
	display: none;
}
#searchForm{
	display: none;
}
#mod-search-searchword{
	color: #333;
	font-size: 26px;
	font-weight: bold;
	padding: 5px 5px 5px 40px;
	background: url('../images/main/search_icon.png') no-repeat center left;
	border: none;
	outline: none;
	width: 100%;
}
#mod-search-searchword::-webkit-input-placeholder {color:#333;}
#mod-search-searchword::-moz-placeholder          {color:#333;}/* Firefox 19+ */
#mod-search-searchword:-moz-placeholder           {color:#333;}/* Firefox 18- */
#mod-search-searchword:-ms-input-placeholder      {color:#333;}
.search{
	margin: 30px 0;
}
.searchLineDiv{
	display: none;
}

/*** Modal contact form ***/
#modalContactFormBlock form{
	padding: 10px 30px;
}
.modalContactFormH2{
	font-weight: 300;
	font-size: 32px;
	line-height: 40px;
	color: #000;
}
div#fox-container-m115 .control-label, div#fox-container-m115 .control-label label{
	display: none !important;
}
#modalContactFormBlock form .controls{
	width: 100%;
}
#modalContactFormBlock form .controls input[type="text"], #modalContactFormBlock form .controls input[type="email"] {
	padding: 12px 15px;
	font-size: 14px;
	height: auto;
	line-height: 14px;
	margin-bottom: 20px;
	width: 100%;
	border-radius: 4px;
	color: #555555;
	background-color: #ffffff;
}
#modalContactFormBlock div#fox-container-m115 .fox-form-stacked .fox-item-submit .controls {
	width: 100%;
}
button.modalFormCloseBtn{
	background: url('../images/calculator/close-icon.png') no-repeat;
	position: absolute;
	width: 31px;
	height: 30px;
	display: block;
	right: 20px;
	top: 20px;
	opacity: 1;
	outline: none;
	z-index: 10000;
}
.modalFormCongratulation{
	position: absolute;
	background: #fff;
	z-index: 1000;
	width: 550px;
	height: 270px;
	left: 30px;
	top: 30px;
}
.modalFormCongratulation h2{
	margin: 40px auto 0;
	width: 320px;
	text-align: center;
	font-weight: 300;
	font-size: 32px;
	color: #000000;
	line-height: 40px;
}
.modalFormCongratulation p{
	font-size: 14px;
	color: #1B1B1B;
	letter-spacing: 0;
	line-height: 20px;
	text-align: center;
	width: 410px;
	display: block;
	margin: 20px auto;
}

/******* Vacations styles *******/

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    /* text-align:left; */
    /* inline-block space fix */
    margin-right:-4px;
	vertical-align:top;
}
.vacationsBlock{
	background: #F5F6F7;
	border-top: 1px solid #E1E7EB;
	padding-bottom: 20px;
}
.vacationH2{
	text-align: center;
	margin: 45px 0 20px;
	font-size: 72px;
	font-weight: 300;
	line-height: 80px;
	color: #1b1b1b;
}
.vacationH4{
	width: 600px;
	margin: 0 auto 50px;
	color: #9b9b9b;
	font-size: 21px;
	line-height: 30px;
	text-align: center;
}
.vacationBl{
	border-radius: 6px;
	background: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
	margin-bottom: 30px;
}
.vacationImgBlock{
	padding: 42px 0;
	text-align: center;
	border-radius: 6px 6px 0 0;
}
.vacationDeveloper{
	background: #0072ca;
}
.vacationDesigner{
	background: #E9BE52;
}
.vacationCopywriter{
	background: #753699;
}
.vacationEngeneer{
	background: #3FBE65;
}
.vacationTextBlock{
	padding: 0 20px 20px 20px;
}
.vacationTextBlock h3{
	color: #1b1b1b;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 1px;
}

/********* Solutions pages styles *********/
.solutionBgBl1{
	background: url('../images/main/servicesTopBlBg.jpg') no-repeat center center;
	background-size: cover;
	padding: 41px 0 40px;
}
.solutionBl1H2{
	line-height: 50px;
	color: #fff;
	font-size: 42px;
	font-weight: 300;
	margin: 0;
	text-align: center;
}
.solutionBl1H2:nth-child(2){
	margin-bottom: 20px;
}
.solutionBl1H4{
	text-align: center;
	color: #fff;
	font-size: 16px;
	line-height: 25px;
	font-family: 'HelveticaNeue-Roman', sans-serif;
	margin: 0;
}
.solutionBl1H4:last-child{
	margin-bottom: 20px;
}

.moduletable-solutionBl2, .moduletable-solutionBl2Type{
	padding: 50px 0 30px;
}
.solutionBl2H2, .solutionBlTextH2{
	margin: 0 0 20px;
	font-size: 23px;
	color: #1B1B1B;
	letter-spacing: -0.96px;
	font-weight: 400;
	line-height: 30px;
}
.moduletable-solutionBl2 p, .solutionBl3 p, .solutionBlText p, .moduletable-solutionBl2Type p{
	font-family: 'HelveticaNeue-Roman', sans-serif;
	font-size: 14px;
	color: #333333;
	letter-spacing: 0;
	line-height: 20px;
	margin-bottom: 18px;
}
.solutionBl2ImgBl img{
	margin: 35px auto 20px;
}

.solutionBl3{
	background: #F5F6F7;
	padding: 50px 0 30px;
}
.solutionBl3ImgBl img{
	margin: 15px auto 20px;
}
.solutionBl3H2{
	font-size: 23px;
	color: #1B1B1B;
	letter-spacing: -0.96px;
	line-height: 30px;
	font-weight: 400;
	margin: 0 0 20px;
}
.solutionBl4ImgBl img{
	margin: -20px auto 20px;
}

.solutionBlDark{
	background: #33383F;
	padding: 50px 0 30px;
}
.solutionBlDarkH2{
	font-size: 23px;
	color: #fff;
	letter-spacing: -0.96px;
	line-height: 30px;
	font-weight: 400;
	margin: 0 0 20px;
}
.solutionBlDark p{
	font-family: 'HelveticaNeue-Roman', sans-serif;
	font-size: 14px;
	color: #fff;
	letter-spacing: 0;
	line-height: 20px;
	margin-bottom: 18px;
}
.solutionBlDarkImgBl img{
	margin: 0 auto 20px;
}
.solutionBtn{
	margin: 30px auto 20px;
}
.btnStarlinkBlue{
	text-align: center;
	width: 80%;
	padding: 20px;
	background: #3FA2F7;
	border-radius: 30px;
	outline: none;
	text-shadow: none;
	margin: 0 10%;
	border: 1px solid #3FA2F7;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}
.btnStarlinkBlue:hover, .btnStarlinkBlue:focus{
	background: #fff;
	color: #3FA2F7;
	border: 1px solid #3FA2F7;
}

.solutionBgBl1Margin{
	padding: 65px 0;
}
.solutionBgBl1Margin .solutionBl1H2{
	margin-bottom: 20px;
}

/*************** Blog page styles ****************/
.contentBlBlogHeader{
	border-top: 1px solid #E1E7EB;
	border-bottom: 1px solid #E1E7EB;
}
.blogHeader{
	text-align: center;
	font-weight: 300;
	font-size: 32px;
	color: #000000;
	line-height: 40px;
	margin: 11px 0;
}
.contentBlBlog .page-header{
	margin: 20px 0 10px;
	border-bottom: none;
	padding-bottom: 0;
}
.contentBlBlog .page-header h2 a{
	font-weight: bold;
	font-size: 20px;
	color: #3FA2F7;
	line-height: 28px;
}
.contentBlBlog .blogCatAndDate{
	margin-bottom: 10px;
	font-size: 14px;
	color: #9B9B9B;
	line-height: 20px;
}
.contentBlBlog .blogReadMore{
	margin: 20px 0 10px;
}
.contentBlBlog .blogReadMore .blogReadmore{
	font-size: 14px;
	color: #3FA2F7;
	line-height: 20px;
}
.contentBlBlog .items-leading>div{
	border-bottom: 1px solid #E1E7EB;
}
.pagination p.counter{
	display: none;
}
.pagination ul{
	margin: 0;
	padding: 0;
}
.pagination ul li{
	float: left;
	list-style: none;
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.pagination ul li span, .pagination ul li a{
	font-size: 18px;
	display: block;
	color: #3FA2F7;
	letter-spacing: 0;
	line-height: 20px;
	padding: 9px 0;
	width: 40px;
	height: 40px;
	border: 1px solid #E1E7EB;
}
.pagination ul li span.pagenav{
	color: #fff;
	background: #3FA2F7;
	border: 1px solid #3FA2F7;
}
.pagination ul li.pagination-start span.pagenav, .pagination ul li.pagination-prev span.pagenav,
.pagination ul li.pagination-next span.pagenav, .pagination ul li.pagination-end span.pagenav{
	color: #b3b3b3;
	background: #fff;
	border: 1px solid #E1E7EB;
}
.sideAdvBlock{
	margin: 20px 0;
	background: #FFFFFF;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.05);
	border-radius: 6px;
}
.sideAdvBlock .sideAdvText{
	padding: 10px 12px;
}
.sideAdvBlock .sideAdvText h4{
	margin: 11px 0;
	font-size: 14px;
	color: #1B1B1B;
	letter-spacing: 2px;
	line-height: 24px;
}
.sideAdvBlock .sideAdvText p{
	margin-bottom: 10px;
	font-size: 14px;
	color: #1B1B1B;
	letter-spacing: 0px;
	line-height: 20px;
}

#inner_TC140 h5{
	font-size: 14px;
	line-height: 20px;
	font-weight: 500 !important;
	margin: 30px 0 10px;
	letter-spacing: 0;
}
.cloudTagsSingleTag{
	font-size: 12px;
	color: #2C99ED;
	line-height: 20px;
	padding: 4px 16px 6px 14px;
	display: inline-block;
	border: 1px solid #2C99ED;
	border-radius: 5px;
	margin: 0 10px 10px 0;
}
.cloudTagsSingleTag:hover{
	color: #fff;
	background: #2C99ED;
}

/*********** Services **********/
.servicesTopBlH2{
	line-height: 80px;
	color: #fff;
	font-size: 72px;
	font-weight: 300;
	margin: 0;
	text-align: center;
}
.servicesBl2{
	padding-bottom: 50px;
}
.servicesBl2H2{
	margin: 50px 0;
	text-align: center;
	font-family: 'HelveticaNeue-Ligth', sans-serif;
	font-size: 42px;
	line-height: 50px;
	color: #1b1b1b;
}
.servicesBl2 p{
	font-family: 'HelveticaNeue-Regular', sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 20px;
}
.servicesBl4{
	padding-bottom: 50px;
}
.servicesBl4 .servicesBl4InnersingleBl{
	margin-bottom: 50px;
}
.servicesBl4H2{
	margin: 50px 15%;
	text-align: center;
	font-family: 'HelveticaNeue-Ligth', sans-serif;
	font-size: 42px;
	line-height: 50px;
	color: #1b1b1b;
}
.servicesBl4 h4 {
	margin: 20px 0;
	font-weight: normal;
}
.servicesBl4 h4 a {
	color: #3FA2F7;
	font-size: 18px;
	line-height: 20px;
}
.servicesBl4 p {
	line-height: 20px;
	color: #9b9b9b;
	margin: 0;
}
.servicesBl1H2{
	line-height: 80px;
	color: #fff;
	font-size: 72px;
	font-weight: 300;
	margin: 0 0 20px;
	text-align: center;
}

.servicesBgBl1Margin {
	padding: 50px 0;
}
.servicesIntegrationBgBl1 {
	background: url('../images/main/it-integration-bl1Bg.jpg') no-repeat center center;
	background-size: cover;
	padding: 41px 0 40px;
}
.servicesDataCenterBgBl1 {
	background: url('../images/main/data-center-bl1Bg.jpg') no-repeat center center;
	background-size: cover;
	padding: 41px 0 40px;
}
.servicesSecurityBgBl1 {
	background: url('../images/main/security-bl1Bg.jpg') no-repeat center center;
	background-size: cover;
	padding: 41px 0 40px;
}
.servicesWebProjectsBgBl1{
	background: url('../images/main/web-solutions-bl1Bg.jpg') no-repeat center center;
	background-size: cover;
	padding: 41px 0 40px;
}
.secondaryConsultingMenuBl{
	border-bottom: 1px solid #E1E7EB;
	background: #fff;
}
.secondaryConsultingMenu a{
	display: inline-block;
	color: #3FA2F7;
	text-transform: uppercase;
	margin: 0 20px 0 0;
	padding: 32px 0 27px;
	border-bottom: 5px solid transparent;
}
.secondaryConsultingMenu a.active, .secondaryConsultingMenu a:hover {
	color: #1B1B1B;
	font-weight: bold;
	border-bottom: 5px solid #ED1C24;
}
.secondaryConsultingMenu a:hover {
	font-weight: normal;
}
.secondaryConsultingMenu a.active:hover{
	font-weight: bold;
}
.scrollBlConsulting{
	background: url('../images/main/servicesTopBlBg.jpg') no-repeat center center;
	background-size: cover;
}
.scrollBlIntegrationBg{
	background: url('../images/main/it-integration-bl1Bg.jpg') no-repeat center center;
	background-size: cover;
}
.scrollBlDataCenterBg{
	background: url('../images/main/data-center-bl1Bg.jpg') no-repeat center center;
	background-size: cover;
}
.scrollBlSecurityBg{
	background: url('../images/main/security-bl1Bg.jpg') no-repeat center center;
	background-size: cover;
}
.scrollBlWebProjectsBg{
	background: url('../images/main/web-solutions-bl1Bg.jpg') no-repeat center center;
	background-size: cover;
}
.scrollBlConsulting .container{
	position: relative;
}
.scrollBlConsulting h4{
	font-weight: 300;
	color: #fff;
	font-size: 42px;
	line-height: 80px;
	padding: 10px 0;
	text-align: center;
}
.scrollTopBtn{
	position: absolute;
	top: 38px;
	left: 15px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #fff;
	cursor: pointer;
	color: #fff;
	font-size: 32px;
	line-height: 32px;
}
.scrollTopBtn .scrollTopArrowSpan{
	display: inline-block;
	margin: 0 0 0 10px;
}
.scrollBl{
	display: none;
}
.scrollFixedConsultingBl{
	position: relative;
	top: 0;
	width: 100%;
	z-index: 100;
}


/********** Footer *********/
.footer{
	background: #33383F;
	color: #fff;
	font-weight: bold;
	padding: 50px 0 165px;
	position: absolute;
	left: 0;
	bottom: 0;
	height: auto;
	width: 100%;
}
#footerMenu li.item-101{
	display: none;
}
#footerMenu>li{
	display: inline-block;
}
#footerMenu>li>a{
	display: inline-block;
	padding: 4px 10px;
	color: #fff;
	cursor: pointer;
}
#footerMenu>li>a:hover{
	color: #fff;
	opacity: 0.8;
	background: transparent;
}
.copyright{
	padding: 4px 15px;
}
.copyright sup{
	font-weight: normal;
}
.footerSocNetworks{
	text-align: right;
}
.footerSocNetworks a{
	margin: 0 10px;
}
.footerSocNetworks a{
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	cursor: pointer;
}
.footerSocNetworks a:hover{
	background: rgba(255, 255, 255, 1);
}
.footerSocNetworks .facebookIcon{
	padding: 7px 12px;
}
.footerSocNetworks .twitterIcon{
	padding: 7px 4.5px;
}
.footerSocNetworks .googleIcon{
	padding: 7px 7px;
}

/* MEDIA QUERIES
*********************************************/

/* Extra small devices (phones, less than 768px) */
/* No media query -> mobile first strategy */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#mainmenu li.deeper:hover>ul.nav-child{
		position: absolute;
		box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
		border-radius: 6px;
		left: 0;
		top: 60px;
		background: #fff;
		display: block;
		z-index: 999999;
		padding: 0;
	}
	#mainmenu li.deeper:hover>ul.nav-child:after{
		content: '';
		position: absolute;
		left: 25px; top: -18px;
		border: 10px solid transparent;
		border-bottom: 8px solid #fff;
	}
	#mainmenu>li>ul.nav-child>li:first-child>a{
		border-radius: 6px 6px 0 0;
	}
	#mainmenu>li>ul.nav-child>li:last-child>a{
		border-bottom: none;
		border-radius: 0 0 6px 6px;
	}
	.tabletMainMenuDiv .navbar-default .navbar-nav > li > a {
		padding: 23px 0 20px;
	}
	.tabletMainMenuDiv .navbar-default .navbar-nav > li.deeper {
		background: url('../images/main/menuBottomArrow.png') no-repeat right 30px;
	}
	.navbar-default .navbar-nav > li > a{
		font-size: 13px;
		margin: 0 7px;
	}
	#mainmenu>li>ul.nav-child>li>a {
		font-size: 13px;
	}
	.topPhone {
		font-size: 23px;
		/*margin-top: 8px;*/
		padding: 31px 0 28px 45px;
	}
	.rightSideMenuBl{
		display: none;
	}
	.blogBottomAdvBl{
		background: #3FA2F7;
		box-shadow: 0 5px 10px 0 rgba(0,0,0,0.05);
		border-radius: 4px;
		margin-bottom: 30px;
		padding: 20px 0;
	}
	.blogBottomAdvBl h5{
		font-weight: bold;
		font-size: 20px;
		color: #FFFFFF;
		line-height: 20px;
		margin: 10px 20px;
		text-align: center;
	}
	.blogBottomAdvBl p{
		font-size: 14px;
		color: #FFFFFF;
		line-height: 20px;
		margin: 10px 0;
		text-align: center;
	}
	.blogBottomAdvBl .btnStarlinkBlueWhiteBorder{
		display: block;
		border: 1px solid #fff;
		width: 70%;
		margin: 0 15%;
	}
	.tabletMainMenu{
		border-top: 1px solid #E1E7EB;
	}
	.tabletMainMenuDiv{
		width: 450px;
		margin: 0 auto;
		float: none;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#mainmenu li.deeper:hover>ul.nav-child{
		position: absolute;
		box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
		border-radius: 6px;
		left: 0;
		top: 75px;
		background: #fff;
		display: block;
		z-index: 999999;
		padding: 0;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 40px 0 31px;
	}
	.navbar-default .navbar-nav > li.deeper {
		background: url('../images/main/menuBottomArrow.png') no-repeat right 46px;
	}
	.topPhone{
		width: auto;
	}
	.aboutMainCenterText h4{
		margin: 0 110px 40px;
	}
	.iconBlocks>div .aboutIcon{
		padding: 0 20px;
	}
	.iconBlocks{
		padding-bottom: 60px;
	}
	.newsFluidBl .blog .category-desc{
		margin: 0 200px 40px;
	}
	.servicesPageTopBl p{
		margin: 0 275px 50px;
	}
	.itOutsourcingWeProposeYouCenterText h4{
		margin: 0 100px;
	}
	.itOutsourcingSingleTextBl:nth-child(1) p {
		margin: 50px 55px 10px 95px;
	}
	.itOutsourcingSingleTextBl:nth-child(1) img {
		margin-left: 65px;
	}
	.itOutsourcingSingleTextBl:nth-child(2) p {
		margin: 75px 95px 35px 45px;
	}
	.itOutsourcingSingleTextBl:nth-child(2) img {
		margin-left: 160px;
	}
	.itOutsourcingSingleTextBl:nth-child(3) p {
		margin: 75px 55px 35px 95px;
	}
	.itOutsourcingSingleTextBl:nth-child(3) img {
		margin-left: 50px;
		margin-top: 40px;
	}
	.itOutsourcingSingleTextBl:nth-child(4) p {
		margin: 40px 95px 20px 45px;
	}
	.itOutsourcingSingleTextBl:nth-child(4) img {
		margin-left: 160px;
		margin-top: 33px;
	}
	.searchButton{
		margin: 34px 0 24px 5px;
		display: inline-block;
		padding: 9px 2px 9px 7px;
	}
	.rightSideMenuBl{
		display: block;
	}
	.blogBottomAdvBl{
		background: #3FA2F7;
		box-shadow: 0 5px 10px 0 rgba(0,0,0,0.05);
		border-radius: 4px;
		margin-bottom: 30px;
		padding: 20px 0;
	}
	.blogBottomAdvBl h5{
		font-weight: bold;
		font-size: 20px;
		color: #FFFFFF;
		line-height: 20px;
		margin: 10px 20px 10px 55px;
	}
	.blogBottomAdvBl p{
		font-size: 14px;
		color: #FFFFFF;
		line-height: 20px;
		margin: 10px 0 10px 0;
	}
	.blogBottomAdvBl .btnStarlinkBlueWhiteBorder{
		display: block;
		border: 1px solid #fff;
		width: 84%;
		margin: 0;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.topPhone {
		font-size: 26px;
		padding: 31px 0 32px 45px;
		margin-top: 0;
	}
	.navbar-default .navbar-nav > li > a{
		font-size: 14px;
	}
	.newsFluidBl .blog .category-desc{
		margin: 0 225px 40px;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 40px 0 35px;
	}
	.navbar-default .navbar-nav > li.deeper {
		background: url('../images/main/menuBottomArrow.png') no-repeat right 47px;
	}
	#mainmenu>li>ul.nav-child>li>a {
		font-size: 14px;
	}
	.searchButton {
		margin: 30px 0 30px 5px;
		display: inline-block;
	}
	.btnStarlinkBlue{
		margin: 0 25%;
		width: 50%;
		display: block;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
	.navbar{
		margin-left: 50px;
	}
}

/* for higher resolutions (android and retina) */
@media screen and (-webkit-min-device-pixel-ratio: 1.5) , screen and (min--moz-device-pixel-ratio: 1.5), (max-width: 767px) {
	.copyright{
		text-align: center;
		margin-bottom: 20px;
	}
	.footerSocNetworks{
		text-align: center;
		margin-top: 20px;
	}
	.services-bl>div.container{
		padding: 0 15px;
	}
	.newsShowMoreNews{
		padding: 20px 35px 20px 25px;
	}
	.servicesPageTopBl h3{
		font-size: 60px;
	}
	.calcItOutsource{
		display: none;
	}

	.navbar-default {
		min-height: 0;
	}
	#mainmenu>li {
		display: block;
		border-bottom: 1px solid #e7e7e7;
	}
	.navbar-nav{
		margin: 0;
	}
	.navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}
	.navbar-default .navbar-nav > li > a{
		border-bottom: none;
		padding: 12px 30% 11px;
		font-weight: 400;
	}
	.navbar-default .navbar-nav > li.deeper{
		background: none;
	}
	#mainmenu>li>ul.nav-child>li>a:hover{
		color: #1b1b1b;
		background: transparent;
	}
	.navbar-default .navbar-nav > li.active > a,
	.navbar-default .navbar-nav > li.active > a:hover,
	.navbar-default .navbar-nav > li > a:hover{
		border-bottom: none;
		color: #ED1C24;
	}
	#mainmenu .nav-child {
		display: none;
		padding: 0;
		margin: 0;
	}
	.navbar-default .navbar-nav > li.deeper{
		padding-right: 0;
		border-right: none;
	}
	#mainmenu>li>ul.nav-child>li {
		float: none;
		border-top: 1px solid #e7e7e7;
	}
	.navbar-default .navbar-nav > li > a{
		margin: 0;
	}
	#mainmenu>li>ul.nav-child>li>a{
		padding: 12px 30% 10px 32%;
		border-bottom: none;
	}

	.mainSliderBlock{
		display: none;
	}
	.navbar-header{
		width: 50px;
		float: right;
		margin-top: -75px;
	}
	.services h3 {
		/* width: 80%; */
	}
	div#fox-container-m100 .fox-form-stacked #fox-m100-submit-box .controls {
/* 		width: 100%; */
	}
	div#fox-container-m95 .freeQuestionnaire button.btn span, div#fox-container-m100 .sendLetterButton button.btn span {
		font-size: 14px;
	}
	div#fox-container-m95 h2 {
/* 		margin-left: 5%;
		margin-right: 5%; */
	}
	.vacationH2{
		font-size: 55px;
		line-height: 60px;
	}
	.vacationH4 {
		width: 94%;
	}
	.btnStarlinkBlue {
		width: 100%;
		margin: 0;
	}
	.solutionBl1H2{
		font-size: 32px;
	}
	.rightSideMenuBl{
		display: none;
	}
	.contentBlBlog .page-header h2 a{
		font-size: 15px;
		line-height: 20px;
	}
	.blogBottomAdvBl{
		background: #3FA2F7;
		box-shadow: 0 5px 10px 0 rgba(0,0,0,0.05);
		border-radius: 4px;
		margin-bottom: 30px;
		padding: 20px 0;
	}
	.blogBottomAdvBl h5{
		font-weight: bold;
		font-size: 20px;
		color: #FFFFFF;
		line-height: 20px;
		margin: 10px 20px;
		text-align: center;
	}
	.blogBottomAdvBl p{
		font-size: 14px;
		color: #FFFFFF;
		line-height: 20px;
		margin: 10px 0;
		text-align: center;
	}
	.blogBottomAdvBl .btnStarlinkBlueWhiteBorder{
		display: block;
		border: 1px solid #fff;
		width: 70%;
		margin: 0 15%;
	}
	.servicesBl4H2, .itOutsourcingWeProposeYou h3, .servicesBl2H2 {
		font-size: 32px;
		line-height: 40px;
	}
	.solutionBgBl1Margin .solutionBl1H2{
		font-size: 50px;
	}
	.servicesBl1H2{
		font-size: 42px;
		line-height: 56px;
	}
	.servicesBl4H2 {
		margin: 50px 5%;
	}
	.scrollTopBtn{
		display: none;
	}
	.secondaryConsultingMenu a{
		display: block;
		margin: 0 20px 0 0;
		padding: 12px 0 7px;
		border-bottom: 2px solid transparent;
	}
	.secondaryConsultingMenu a.active, .secondaryConsultingMenu a:hover{
		font-weight: normal;
		border-bottom: 2px solid #ED1C24;
	}
}

@media (max-width: 1024px) {
	.footer{
		padding: 50px 0 50px;
	}
	.footer .container .row > div{
		text-align: center;
		margin: 15px 0;
	}
	.footerSocNetworks {
		 text-align: center;
	}
}