/*

.newsFluidBl .page-header h2{
  text-align: center;
}
.newsFluidBl p {
  font-size: 18px;
}

.newsFluidBl{
	background: #F5F6F7;
	border-top: 1px solid #E1E7EB;
}
.newsFluidBl .blog h2{
	margin: 45px 0 20px;
	text-align: center;
}
.newsFluidBl .blog h2 .subheading-category{
	font-size: 72px;
	font-weight: 300;
	line-height: 80px;
	color: #1b1b1b;
}
.newsFluidBl .blog .category-desc{
	color: #9B9B9B;
	font-size: 21px;
	line-height: 30px;
	text-align: center;
}
.imgMgAuto{
	margin: 0 auto;
}

.blog .items-row .span12{
	box-shadow: 0 5px 10px rgba(0,0,0,0.05);
	margin-bottom: 50px;
}
.blog .items-row .span12 .page-header{
	margin: 20px 30px 10px;
	border: none;
	padding-bottom: 0;
}
.blog .items-row .span12 .page-header h2{
	margin: 0;
	text-align: left;
}
.blog .items-row .span12 .page-header h2 a{
	color: #3FA2F7;
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
}
.blog .items-row .span12 .newsCatAndDate{
	margin: 0 30px 10px;
	color: #9B9B9B;
	line-height: 20px;
}
.blog .items-row .span12 .item>p{
	margin: 0 30px 10px;
}
.blog .items-row .span12 .newsCategoryItemFooter{
	border-top: 1px solid #EAEAEA;
	padding: 20px 5px 20px 30px;
	margin: 0;
}
.newsHits{
	padding-left: 30px;
	background: url('../images/main/eye.png') no-repeat left center;
	color: #9B9B9B;
}
.newsReadMore p.readmore{
	margin: 0;
	text-align: right;
}
.newsReadMore p.readmore a.btn{
	font-size: 0;
	padding: 10px 11px;
	background: url('../images/main/readmoreIcon.png') no-repeat left center;
}
.newsShowMoreNewsRow{
	margin: 20px auto 50px;
}
.newsShowMoreNewsRow .newsShowMoreNewsCol{
	text-align: center;
}
.newsShowMoreNews{
	color: #3FA2F7;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	border: 1px solid #3FA2F7;
	border-radius: 30px;
	padding: 20px 105px 20px 95px;
}
.newsShowMoreNews{
	padding: 20px 35px 20px 25px;
}
.newsShowMoreNews:hover, .newsShowMoreNews:focus{
	color: #3FA2F7;
	background: rgba(63, 162, 247, 0.03);
}
.newsShowMoreNews .loadMoreNewsIcon{
	margin: 0 0 0 20px;
	padding: 13px 11px;
	background: url('../images/main/showMoreNewsIcon.png') no-repeat left center;
}

*/