[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4

[{*.sht,*.html,*.shtm,*.shtml,*.htm}]
indent_style=space
indent_size=2

[{phpunit.xml.dist,*.jhm,*.xslt,*.xul,*.svg,*.rng,*.xsl,*.xsd,*.ant,*.tld,*.fxml,*.jrxml,*.xml,*.jnlp,*.wsdl}]
indent_style=space
indent_size=2

[{.babelrc,.stylelintrc,.eslintrc,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=space
indent_size=2

[{*.ddl,*.sql}]
indent_style=space
indent_size=2

[*.css]
indent_style=space
indent_size=2

[{*.applejs,*.js}]
indent_style=space
indent_size=2

[{*.ats,*.ts}]
indent_style=space
indent_size=2

[{jshint.json,*.jshintrc}]
indent_style=space
indent_size=2

[{*.hphp,*.phtml,*.module,*.php,*.php5,*.php4,*.inc}]
indent_style=space
indent_size=2

[*.pcss]
indent_style=space
indent_size=2

[*.scss]
indent_style=space
indent_size=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

