/** $Module: Menu, Logo, Phone */
/** PostCSS plugins: postcss-custom-properties, postcss-nesting */

:root {
  --mobileHeight:   50px;
  --standardHeight: 75px;
}

/** $TopHeader */
.TopHeader {
  position: relative;
}


/** $TopRow */
.TopRow {
  display                    : flex;
  align-items                : center;
  position                   : relative;
  color                      : #fff;
  height                     : var(--mobileHeight);
  transition                 : height 300ms, margin 300ms, background-position 300ms;
  transition-timing-function : cubic-bezier(0.95, 0.05, 0.795, 0.035), cubic-bezier(0.95, 0.05, 0.795, 0.035), ease-in-out;

  @media (min-width: 768px) {
    height: 6rem;
    margin-bottom: -1.5rem;
    background-position: left 2600px top 0;
    color: var(--softBlack);
  }
}

/** $Logo */
.Logo {
  position   : relative;
  left       : 0;
  box-sizing : border-box;

  z-index    : 2;
  transition : width, left, top, height, filter;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);

  @media (min-width: 992px)  {
    left: 10px;
  }
  @media (min-width: 1200px) {
    left: 20px;
  }
  @media (min-width: 1600px) {
    left: 200px;
  }
}

    .Logo__image {
      height: 4.5rem;
      width: auto;
      @nest &:hover {
        filter: drop-shadow(1px 0px 1px rgba(1, 1, 1, .8));
      }
    }


/** AnimatedSVG */


/** $iconPhone */

@keyframes colorwink {
  0% {
    fill: orange;
    fill-opacity: 1;
    padding: 0px;
  }
  25% {
    fill-opacity: 0.5;
    padding: 2px;
  }
  50% {
    fill: limegreen;
    fill-opacity: 1;
    padding: 0px;
  }
  75% {
    fill-opacity: 0.5;
    padding: 2px;
  }
  100% {
    fill: orange;
    fill-opacity: 1;
    padding: 0px;
  }
}

.iconPhone {
  display: inline-block;
  stroke: white;
  fill: orange;
  fill-opacity: 1;
  width: 30px;
  height: 30px;
  padding: 0px;
  vertical-align: middle;
  overflow: visible;
  transition: padding 300ms ease-in-out;
  animation: 4s linear 0s infinite alternate colorwink;
}


/** $Phone */

.Phone {
  @apply --h5--;
  position       : relative;
  margin-bottom : 0;

  color          : #fff;
  background     : var(--softBlack);
  font-weight    : 300;
  letter-spacing : -1px;
  transition     : right, left, height, line-height, font-size, color, background-position;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);

  @nest & a, & a:hover, & a:focus {
    color: inherit;
  }

  @nest & a, & span {
    vertical-align: middle;
  }

  @media (min-width: 412px) {
    @apply --h4--;
    margin-bottom : 0;
    font-weight   : 400;
  }

  @media (min-width: 768px) {
    font-weight        : 600;
    letter-spacing     : normal;
    color              : #000;
  }

  @nest &__areaCode {
    letter-spacing: -1px;

    &::before { content: "(";  }
    &::after  { content: ") "; }
    &::before,
    &::after {
       position   : relative;
       top        : -0.09em;
       font-size  : 85%;
       font-weight: lighter;
       color      : #708090;
     }
  }
}


/** Bootstrap menu: main Joomla menu */

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > li > a {
  color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse {
  color: #555;
  /*background-color: #e7e7e7;*/
}

.navbar--Starlink {
  background-color: var(--softBlack);
  margin-bottom: 0px;
  border: 0px solid transparent;
  right: 0;
  top: 0;
}

.navbar--Starlink .navbar-nav {
  position: relative;
  top: 50px;
 }
.navbar--Starlink .navbar-nav > li > a {
  color: #9d9d9d;
}
.navbar--Starlink .navbar-nav > li > a:hover,
.navbar--Starlink .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar--Starlink .navbar-nav > .active > a,
.navbar--Starlink .navbar-nav > .active > a:hover,
.navbar--Starlink .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808;
}
.navbar--Starlink .navbar-toggle {
  border: 0 transparent;
  padding: 15px 25px 15px 1px;
  margin: 0;
  height: var(--mobileHeight);
  z-index: 10;
}
.navbar--Starlink .navbar-toggle .icon-bar {
  background-color: #fff;
  width: 24px;
  height: 4px;
}
.navbar--Starlink .navbar-collapse {
  color: #fff;
/*  background-color: #080808;*/
}
.navbar--Starlink li.item-101 {
  display: none;
}


/*   SEARCH element */
.searchButton {
  display: none;
}
#searchForm{
  display: none;
}
#mod-search-searchword{
  color       : #333;
  font-size   : 26px;
  font-weight : bold;
  padding     : 5px 5px 5px 40px;
  background  : url('/media/mod_starlink/images/main/search_icon.png') no-repeat center left;
  border      : none;
  outline     : none;
  width       : 100%;
}
/*#mod-search-searchword::-webkit-input-placeholder {color:#333;}
#mod-search-searchword::-moz-placeholder          {color:#333;}!* Firefox 19+ *!
#mod-search-searchword:-moz-placeholder           {color:#333;}!* Firefox 18- *!
#mod-search-searchword:-ms-input-placeholder      {color:#333;}*/

.search{
  margin     : 15px 0;
  max-height : 45px;
}
.searchLineDiv{
  display: none;
}

@media (min-width: 992px) {
  .searchButton{
    margin-left: 15px;
    display: inline-block;
    line-height: normal;
  }
}










/* Logo & phone */

.b-topRow {
  position: relative;
  background : rgb(51, 56, 63);
  color      : #fff;
  height     : 50px;
}
.b-logo {
  position         : absolute;
  left             : 0;
  height           : 50px;
  padding          : 0 6px 1px 0;
  overflow         : hidden;
  z-index          : 1;
  background-color : #ddd;
}
.b-logo__image {
  height: 100%;
  width: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.b-logo__image:hover {
  filter: drop-shadow(1px 0px 1px rgba(1,1,1,.8));
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.b-phone {
  position       : absolute;
  top            : 0;
  height         : 49px;
  right          : 85px;
  padding-top    : 11px;
  box-sizing     : border-box;
  z-index        : 2;
  color          : #fff;
  font-family    : Roboto, sans-serif;
  font-size      : 22px;
  font-weight    : 500;
  text-align     : right;
  letter-spacing : -1px;
  line-height    : 25px;
  transition     : background 300ms ease-in-out;
}
.b-phone__link, .b-phone__link:hover {
  color : inherit;
}
.b-phone__areaCode {
  font-weight: lighter;
  letter-spacing: -1px;
}
.b-phone__areaCode::before {
  content:"(";
}
.b-phone__areaCode::after {
  content:") ";
}
.b-phone__areaCode::before,
.b-phone__areaCode::after {
  position: relative;
  top: -0.09em;
  font-size : 85%;
  color: slategray;
}
.b-phone__image {
  position: relative;
  top: -0.075em;
}

/* phone media query */
@media (max-width : 480px) {
  .b-phone {
    background : rgba(51, 56, 63, 0.95);
    left       : 56px;   /* Logo graphics to remain visible on the left */
    right      : 85px;
  }
  .b-logo {
    width: 56px;
  }
}
/* phone media query */
@media (max-width : 360px) {
  .b-phone__link {
    font-weight: 100;
  }
  .b-phone__image {
    width: 18px;
    height: 18px;
  }
}
/* phone media query */
@media (max-width : 300px) {
  .b-phone__image {
    display: none;
  }
}

/* phone & logo media query */
@media (min-width: 768px) {
  .b-topRow {
    background : transparent;
    color      : black;
    height     : auto;
    width      : 720px;
    margin     : 0 auto;
    transition : all 500ms ease-in-out;
  }
  .b-phone {
    position         : relative;
    font-size        : 24px;
    font-weight      : 600;
    text-align       : left;
    top              : 26px;
    bottom           : 0;
    left             : 0;
    right            : 0;
    margin           : 0;
    padding          : 0;
    color            : black;
    background-color : transparent;
  }
  .b-logo {
    position: relative;
    margin: 0;
    overflow: visible;
    height: 70px;
    background-color : transparent;
    transition : all 500ms ease-in-out;
  }
}
/* phone media query */
@media (min-width: 992px)  {
  .b-topRow {
    height: 75px;
    width : 970px;
  }
  .b-phone {
    text-align : right;
  }
  .b-topRow, .b-logo {
    position : static;
  }
  .b-logo__image {
    position   : absolute;
    top        : 2px;
    right      : -40px;
    height     : 90px;
    z-index    : 1000;
    transition : all 300ms ease-in-out;
  }
}
/* phone media query */
@media (min-width: 1200px) {
  .b-topRow {
    width : 1170px; }
  .b-logo__image {
    left : 20px;
    transition : all 300ms ease-in-out;
  }
}
/* phone media query */
@media (min-width: 1600px) {
  .b-topRow {
    width : 1560px; }
  .b-logo__image {
    left: 200px;
    transition : all 500ms ease-in-out;
  }
}


/* Bootstrap menu: main Joomla menu */
.navbar {
  border        : none;
  margin-top    : 48px;
  margin-bottom : 0;
  margin-right  : 49px;
}
.navbar-default {
  background-color : transparent;
}
.navbar-nav {
  margin : 0;
}
.navbar-default .navbar-toggle {
  margin-top   : 3px;
  margin-right : 0;
  border-color : transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color : transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  display       : block;
  width         : 28px;
  height        : 3px;
  background-color : var(--brandColor);
  border-radius : 2px;
}
.navbar-default .collapsed .icon-bar {
  background-color : #fff;
}

#mainmenu > li.item-101 {
  display : none;
}
#mainmenu > li.deeper {
  position            : relative;
  padding-right       : 7px;
  background-image    : url('../../media/mod_starlink/images/main/menuBottomArrow.png');
  background-repeat   : no-repeat;
  background-position : right 17px;
  border-right        : 7px solid transparent;
}
#mainmenu > li > a {
  border-bottom : 5px solid transparent;
  padding       : 10px 0 20px;
  margin        : 0 10px;
  font-size     : 14px;
  color         : var(--textColor);
  font-weight   : 500;
  line-height   : 20px;
}
#mainmenu > li.active > a,
#mainmenu > li > a:hover {
  border-bottom : 5px solid var(--brandColor);
  background    : none;
  color         : var(--brandColor);
  cursor        : pointer;
}
#mainmenu > li.expanded > a {
  color         : var(--brandColor);
}
#mainmenu > li > ul {
  display : none;
  margin-top: 0;
}
#mainmenu > li > ul > li {
  display : block;
  float   : left;
}
#mainmenu > li > ul > li > a {
  display       : block;
  padding       : 15px 20px;
  min-width     : 250px;
  font-size     : 14px;
  line-height   : 16px;
  color         : var(--textColor);
  border-bottom : 1px solid #777;
}
#mainmenu > li > ul > li > a:hover {
  color      : var(--brandColor);
  background : #ECEEEF;
}

/* for higher resolutions (android and retina) */

@media screen and (-webkit-min-device-pixel-ratio : 1.5) ,
screen and (min--moz-device-pixel-ratio : 1.5),
(max-width : 767px) {  /* was 767 */
  .navbar-default {
    min-height : 0;
  }
  .navbar-collapse {
    padding-right : 0;
    padding-left  : 0;
  }
  .navbar-header {
    margin-top : -48px;
    margin-right: -57px;
    width      : 50px;
    float      : right;
  }
  #mainmenu > li {
    display       : block;
    border-bottom : 1px solid #e7e7e7;
  }
  #mainmenu > li.deeper {
    padding-right : 0;
    border-right  : none;
    background : none;
  }
  #mainmenu > li > a {
    margin        : 0;
    padding       : 10px 10px 10px 45px;
    border-bottom : none;
  }
  #mainmenu > li.active > a,
  #mainmenu > li > a:hover {
    border-bottom : none;
  }
  #mainmenu > li > ul {
    display : none;
    padding : 0;
    margin  : 0;
  }
  #mainmenu > li > ul > li {
    float      : none;
    border-top : 1px solid #e7e7e7;
  }
  #mainmenu > li > ul > li > a {
    padding       : 10px 10px 10px 60px;
    border-bottom : none;
  }
  #mainmenu > li > ul > li > a:hover {
    background : transparent;
  }
}

@media (min-width : 768px) { /* 768 */
  .navbar {
    margin: 0;
  }
  #mainCollapse {
    line-height : 75px;  /* to help vertically align child "search" inline-block using line-height: normal;*/
  }
  #mainmenu > li {
    display: inline-block;
    margin-right: 25px;
  }
  #mainmenu > li.deeper {
    background-position : right 18px;
  }
  #mainmenu > li > a {
    font-size      : 15px;
    margin         : 10px 7px 0;
    padding-top    : 0;
    padding-bottom : 15px;
  }
  #mainmenu > li.deeper:hover > ul {
    position      : absolute;
    box-shadow    : 0 5px 30px rgba(0, 0, 0, 0.5);
    border-radius : 6px;
    left          : 0;
    top           : 50px;
    background    : #fff;
    display       : block;
    z-index       : 999999;
    padding       : 0;
  }
  /*  small white triangle above dropdown menu   */
  #mainmenu > li.deeper:hover > ul:after {
    content       : '';
    position      : absolute;
    left          : 25px; top : -18px;
    border        : 10px solid transparent;
    border-bottom : 8px solid #fff;
  }
  #mainmenu > li > ul > li > a {
    font-size : 13px;
  }
  #mainmenu > li > ul > li:first-child > a {
    border-radius : 6px 6px 0 0;
  }
  #mainmenu > li > ul > li:last-child > a {
    border-bottom : none;
    border-radius : 0 0 6px 6px;
  }
}

@media (min-width : 992px) {
  #mainmenu > li {
    margin-right: 0;
  }
  #mainmenu > li.deeper {
    background-position : right 39px;
  }
  #mainmenu > li > a {
    margin    : 0 7px;
    padding   : 31px 0 19px;
    font-size : 13px;
  }
  #mainmenu > li.deeper:hover > ul {
    top           : 75px;
  }
}

@media (min-width : 1200px) {
  #mainmenu > li > a {
    font-size : 14px;
  }
  #mainmenu > li > ul > li > a {
    font-size : 14px;
  }
}

@media (min-width : 1600px) {
  #mainmenu {
    margin-left : 100px;
  }
}



