/* Fox email sending plugin */

/*
  #fox-container-m95  -  заказ бесплатного опросника
  #fox-container-m100 -  отправить сообщение со страницы Контакты
  #fox-container-m115 -  заявка на услугу аутсорсинга
*/

#fox-container-m95 {
/*  margin: 20px 15px 30px;*/
  min-height: 265px;
}
#fox-container-m95  .btn.submit-button.btn.submit-button,
#fox-container-m100 .btn.submit-button.btn.submit-button,
#fox-container-m115 .btn.submit-button.btn.submit-button {
  @mixin hoverButton;
  padding: 1.5rem 3rem;
}

#fox-container-m95 .orderSurvey__input input[type="text"],
#fox-container-m100 .sendLetterInput input[type="text"],
#fox-container-m100 .sendLetterArea textarea {
  padding: 12px 10px;
  font-size: 14px;
  height: auto;
  line-height: 14px;
  margin-bottom: 20px;
  width: 100%;
}
#fox-container-m100 .sendLetterArea textarea {
  margin-bottom: 0;
}
#fox-container-m95 .fox-form-stacked .controls,
#fox-container-m100 .fox-form-stacked .controls {
  float: none !important;
}
#fox-container-m95 .control-label,
#fox-container-m95 .control-label label,
#fox-container-m100 .control-label,
#fox-container-m100 .control-label label,
#fox-container-m115 .control-label,
#fox-container-m115 .control-label label {
  display: none !important;
}

#fox-container-m100 .fox-form-stacked #fox-m100-submit-box .controls {
  text-align: center;
  width: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio : 1.5) , screen and (min--moz-device-pixel-ratio : 1.5), (max-width : 767px) {
  #fox-container-m95 button span,
  #fox-container-m100 button span {
    font-size : 18px !important;
  }
}


/*** Modal contact form ***/
#modalContactFormBlock form {
  padding: 10px 30px;
}
#modalContactFormBlock form .controls {
  width: 100%;
}
#modalContactFormBlock form .controls input[type="text"], #modalContactFormBlock form .controls input[type="email"] {
  padding: 12px 15px;
  font-size: 14px;
  height: auto;
  line-height: 14px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 4px;
  color: #555555;
  background-color: #ffffff;
}
#modalContactFormBlock #fox-container-m115 .fox-form-stacked .fox-item-submit .controls {
  width: 100%;
}
button.modalFormCloseBtn {
  background: url('../images/main/close-icon.png') no-repeat;
  position: absolute;
  width: 31px;
  height: 30px;
  display: block;
  right: 20px;
  top: 20px;
  opacity: 1;
  outline: none;
  z-index: 10000;
}

.js-thankYouOutsourcing {
  display: none;
  position: absolute;
  background: #fff;
  width: 600px;
  max-width : 90%;
  height: 270px;
  left: 30px;
  top: 30px;
}
