@import '_01_variables.pcss';
@import '_typography.pcss';

/* $Blog styles for Starlink template */


/*************** Blog page styles ****************/
.mainBlog {
    border-top: 1px solid #E1E7EB;
    background: #F5F6F7;
}
.mainBlog__header {
    margin      : 45px 0 20px;
    font-size   : 72px;
    font-weight : 300;
    text-align  : center;
    line-height : 40px;
}
.mainBlog .page-header {
    margin         : 20px 0 10px;
    border-bottom  : none;
    padding-bottom : 0;
}


/*
test*/
