@import '_01_variables.pcss';
@import '_typography.pcss';

body {
  color: green;
  background-color: var(--bgcolor)!important;
}


h1, p {
  font-size: 1rem;
  margin-bottom: var(--margin);
}
h2 {
  color: var(--brand-color);
}

a, a:visited, a:link {
  color:green;
}

a:hover, a:focus {
  color:red;
}

/* test */  /* test */