
.newsFluidBl {
  background: #F5F6F7;
  border-top: 1px solid #E1E7EB;
}
.newsFluidBl p {
  font-size: 16px;
}
.newsFluidBl a {
   color: #3FA2F7;
}
.newsFluidBl .blog h2 {
  margin: 45px 0 20px;
  font-size: 72px;
  font-weight: 300;
  text-align: center;
}
.newsFluidBl .blog .category-desc{
   color: #9B9B9B;
   font-size: 21px;
   line-height: 30px;
   text-align: center;
 }
.newsFluidBl .items-row {
  /* copy from Bootstrap .row */
  margin: 0 -15px;
}

/* */
.newsFluidBl .items-row .span12 {
  width: 100%;
  float: left;
  padding: 0 15px;
  border-right: 1px solid transparent;   /* border-right-width = 1px (1 column) */
}
@media only screen and (min-width: 640px) {
  .newsFluidBl .items-row .span12 {
    width: 49%;
    border-right: 2px solid transparent; /* border-right-width = 2px (2 columns) */
  }
}
@media only screen and (min-width: 1200px) {
  .newsFluidBl .items-row .span12 {
    width: 33%;
    border-right: 3px solid transparent; /* border-right-width = 3px (3 columns) */
  }
}
.newsFluidBl .blog .item {
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
  margin-bottom: 50px;
}
.newsFluidBl .blog .item p {
  margin: 0 15px 10px;
}
.newsFluidBl .blog .item h2 {
  margin: 0;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}
.newsFluidBl .blog .item .page-header {
  margin: 20px 15px 10px;
  border: none;
  padding-bottom: 0;
}
.newsFluidBl .blog .item .newsCatAndDate {
  margin: 0 15px 10px;
  color: #9B9B9B;
  line-height: 20px;
}
.newsFluidBl .blog .item .newsCategoryItemFooter {
  border-top: 1px solid #EAEAEA;
  padding: 20px 5px 20px 30px;
  margin: 0;
}
.newsFluidBl .item-page {
  margin-bottom: 80px;
}
.newsFluidBl .item-page .page-header {
  margin-top: 60px;
}
.newsFluidBl .item-page h2{
  font-size: 40px;
  font-weight: 400;
}

.newsHits{
  padding-left: 30px;
  background: url('../images/main/eye.png') no-repeat left center;
  color: #9B9B9B;
}
.newsReadMore p.readmore{
  margin: 0;
  text-align: right;
}
.newsReadMore p.readmore a.btn{
  font-size: 0;
  padding: 10px 11px;
  background: url('../images/main/readmoreIcon.png') no-repeat left center;
}
.newsShowMoreNewsRow{
  margin: 20px auto 50px;
}
.newsShowMoreNewsRow .newsShowMoreNewsCol{
  text-align: center;
}
.newsShowMoreNews{
  color: #3FA2F7;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  border: 1px solid #3FA2F7;
  border-radius: 30px;
  padding: 20px 105px 20px 95px;
}
.newsShowMoreNews{
  padding: 20px 35px 20px 25px;
}
.newsShowMoreNews:hover, .newsShowMoreNews:focus{
  color: #3FA2F7;
  background: rgba(63, 162, 247, 0.03);
}
.newsShowMoreNews .loadMoreNewsIcon{
  margin: 0 0 0 20px;
  padding: 13px 11px;
  background: url('../images/main/showMoreNewsIcon.png') no-repeat left center;
}

.lastNews{
  background: #F5F6F7;
}
.lastNews h3 {
  text-align: center;
  font-weight: normal;
  font-size: 34px;
  /*line-height: 20px;*/
  text-transform: uppercase;
  margin: 50px 0 20px;
  /*color: #000;*/
}
.showAllNews{
  text-align: center;
  margin-bottom: 50px;
}
.showAllNews a{
  color: #2C99ED;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

.imgMgAuto{
  margin: 0 auto;
}

.services-bl{
  background: #33383F;
  padding-bottom: 40px;
}
.services-bl>div.container{
  padding: 0 15px;
}
.services h3{
  margin: 30px 0 30px;
  color: #fff;
  opacity: 0.8;
  font-size: 42px;
  font-weight: 300;
  text-align: center;
}
.services h4,
.services p {
  color: #fff;
  text-align: center;
}
.services .services-a{
  display: block;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 10px;
  color: #fff;
  cursor: pointer;
}
.services-a .link-header{
  display: block;
  font-weight: 900;
  font-size: 14px;
  margin-bottom: 6px;
  text-transform: uppercase;
}
.services-a .link-text{
  display: block;
  font-size: 14px;
  line-height: 15px;
  margin-right: 40px;
}
.services-a .link-img{
  min-height: 75px;
}
.services-a:hover{
  background: #fff;
  color: #1B1B1B;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}
.services-a:hover .link-header{
  color: #D0021B;
}

@media (min-width: 992px) {
  .newsFluidBl .blog .category-desc{
    margin: 0 200px 40px;
  }
}

@media (min-width: 1200px) {
  .newsFluidBl .blog .category-desc {
    margin : 0 225px 40px;
  }
}
