:root {

  --pc-color: #EDC054;
  --pc-dark: color(var(--pc-color) shade(25%) hue(-45deg));
  --server-color: #78379D;
  --server-dark: color(var(--server-color) shade(50%) hue(-45deg));
  --virtual-color: #40BE65;
  --virtual-dark: color(var(--virtual-color) shade(50%) hue(+45deg));

  --slider-color: rgba(202,207,211,1);
  --current-SLA: #F2F8FC;

}





/************  CALCULATOR ***************/

.calcItOutsource {
  display: none;

  @media (min-width: 992px) {
    display: block;
  }
}


.calcItOutsource h3 {
  margin: 3rem auto 1.5rem;
  text-align: center;
  font-size: 42px;
  line-height: 50px;
  color: #1b1b1b;
  font-weight: 300;
}

.calcItOutsource .calcItOutsourceTopParagraph{
  margin: 0 120px 50px;
  font-size: 16px;
  line-height: 25px;
  color: #373A3C;
  text-align: center;
}



/** $Digit */

/*<editor-fold desc="digit: numbers below sliders for # of PCs, Servers and Virtual servers">*/

.digitContainer {
  position:relative;
  margin-top: 10px;
  margin-left: -0.5rem;
  right:-0.25rem;
  text-align: justify;
  color: #818A91;
  height: 2rem;
}

.digitContainer::after {
  display: inline-block;
  width: 100%;
  content: '';
}

.digit {
  width: 1.5rem;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

/*.slider-count-digit-active,*/
.digit--active {
  color: #3FA2F7;
  font-weight: 900;
}


/*</editor-fold>*/




/** 
 *  $Slider:
 *  Slider for number of PCs and other items
 *
 */

/*<editor-fold desc="Slider for number of PCs and other items">*/

.sliderContainer {
  padding: 0;
}



/*

#slider-pc-count, 
#slider-server-count, 
#slider-virtual-count,    */
.Slider {
  padding: 0 0.5em;
  height: 10px;
  border-radius: 28px;
  position: relative;
  border-left: 0.5em solid var(--slider-color);
  border-right: 0.5em solid var(--slider-color);
  box-sizing: content-box;
}
  .Slider--pc {
    background-color: var(--pc-color);
    background-image: linear-gradient(to right, var(--pc-dark) 0%, var(--pc-color) 85%, var(--slider-color) 85%, var(--slider-color) 100%);
    border-left-color: var(--pc-dark);
  }

  .Slider--server {
    background-color: var(--server-color);
    background-image: linear-gradient(to right, var(--server-dark) 0%, var(--server-color) 67%, var(--slider-color) 67%, var(--slider-color) 100%);
    border-left-color: var(--server-dark);
  }

  .Slider--virtual {
    background-color: var(--virtual-color);
    background-image: linear-gradient(to right, var(--virtual-dark) 0%, var(--virtual-color) 68%,  var(--slider-color) 69%, var(--slider-color) 100%);
    border-left-color: var(--virtual-dark);
  }


[id='slider-pc-count'] {
}

[id='slider-server-count'] {
}

[id='slider-virtual-count'] {
}

.ui-slider-handle {
  border: 7px solid var(--slider-color);
  background: #fff;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  position: absolute;
  margin-top: -8px;
  margin-left: -13px;

  @nest &:focus {
    outline: none;
  }

  @nest .Slider--pc & {       /* .Slider--pc .ui-slider-handle */
    border-color: var(--pc-color);
  }

  @nest .Slider--server & {   /* .Slider--server .ui-slider-handle */
    border-color: var(--server-color);
  }

  @nest .Slider--virtual & {  /* .Slider--virtual .ui-slider-handle */
    border-color: var(--virtual-color);
  }

}
/*</editor-fold>*/





/** $SlidersTable: Table with inputs for number of PCs, servers and Virtual Servers */

/*<editor-fold desc="Table with inputs for number of PCs, servers and Virtual Servers">*/

.SlidersTable {
  table-layout: fixed;
}

.SlidersTable__col1 {
  width: 10rem;
}

.SlidersTable__col3 {
  width: 12rem;
}
/*</editor-fold>*/




/*<editor-fold desc="Table for SLA conditions">*/

.SLAtable {
  table-layout: fixed;
  margin-top: 0.5rem;
  margin-bottom: 8rem;
  width: 100%;
  font-weight: 500;

  @nest & td {
    padding: 1rem;
    vertical-align: middle;
    text-align: center;
}

}

.SLAtable__row {
  border-bottom: 2px solid rgba(230, 230, 230, 0.3);
  transition: background 0.5s ease-in-out;
}

.SLAtable__row--active {
  background: var(--current-SLA);
}

.SLAtable__th {
  color: #818A91;
  line-height: 1.1;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
}

.SLAtable__th--left {
  text-align: left;
}

.SLAtable__label {
  width: 38px;
  height: 38px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background: none no-repeat scroll 0 0;
  font-weight: 700;
}

input + .SLAtable__label {
  background-image: url(../images/calcUncheckedIcon.png);
}

input:checked + .SLAtable__label {
  background-image: url(../images/calcCheckedIcon.png);
}



/*</editor-fold>*/




.visits {
  width: 40px;
  height: 30px;
  line-height: 30px;
  border: none;
  background: transparent;
  text-align: center;
  margin: 2px;
  vertical-align: top;

  @nest &:hover {
    cursor: default;
  }
}

.sign {
  width: 35px;
  height: 30px;
  line-height: 30px;
  margin: 2px;
  padding: 3px 5px;
  cursor: pointer;
  display: inline-block;
}

.sign--minus {
  background: url('../images/calcMinus.png') no-repeat center;
}

.sign--plus {
  background: url('../images/calcPlus.png') no-repeat center;
}


.calcResult {
  width: 10rem;
  font-size: 3.5rem;
  line-height: 1;
  height: 3.5rem;
  text-align: center;
  color: #333;
  border: none;
  box-shadow: none;
  font-weight: 500;

  @nest &:hover {
    cursor: default;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    font-size: 3rem;
  }

}




/*<editor-fold desc="tooltips">*/

/* Tooltips */

.tooltip-own {
    position: relative;
    cursor: default;
}

.tooltip-own em {
    display: none;
}

.tooltip-own:hover em {
    font-style: normal;
    display: block;
    position: absolute;
    background: #fff;
    padding: 5px 8px;
    bottom: 50px;
    right: -45px;
    box-shadow: 0 0 3px #5e5e5e;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 0 3px #5e5e5e;
    -moz-box-shadow: 0 0 3px #5e5e5e;
    text-transform: none;
    font-size: 13px;
    width: 180px;
}

.tooltip-own:hover em i.left {
    position: absolute;
    bottom: -7px;
    right: 93px;
    border-top: 7px solid #ccc;
    border-left: 7px solid transparent;
    display: block;
}

.tooltip-own:hover em i.right {
    position: absolute;
    bottom: -7px;
    right: 87px;
    border-top: 7px solid #ccc;
    border-right: 7px solid transparent;
    display: block;
}





/* Tooltips for div img */
.tooltip-own-img {
    position: relative;
    cursor: default;
}

.tooltip-own-img em {
    display: none;
}

.tooltip-own-img:hover em {
    font-style: normal;
    display: block;
    position: absolute;
    background: #fff;
    padding: 5px 8px;
    bottom: 85px;
    right: -53px;
    box-shadow: 0 0 3px #5e5e5e;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 0 3px #5e5e5e;
    -moz-box-shadow: 0 0 3px #5e5e5e;
    text-transform: none;
    font-size: 13px;
    width: 180px;
    z-index: 20;
}

.tooltip-own-img:hover em i.left {
    position: absolute;
    bottom: -7px;
    right: 93px;
    border-top: 7px solid #ccc;
    border-left: 7px solid transparent;
    display: block;
}

.tooltip-own-img:hover em i.right {
    position: absolute;
    bottom: -7px;
    right: 87px;
    border-top: 7px solid #ccc;
    border-right: 7px solid transparent;
    display: block;
}

/*</editor-fold>*/


/*# sourceMappingURL=starlink_calculator_outsourcing.css.map */
