%hoverButton {
  display       : block;
  margin        : 0 auto;
  color         : #fff !important;
  background    : $linkColor !important;
  border        : 1px solid @color !important;
  border-radius : 30px !important;
  outline       : none;
  text-align    : center;
  text-shadow   : none !important;
  font-weight   : 400 !important;
  font-size     : 18px !important;
  transition    : background 300ms ease-in-out;
  &:hover,
  &:focus {
     border-color : $linkColor !important;
     color        : $linkColor !important;
     background   : #fff !important;
  }
  &:hover span,
  &:focus span {
    color : $linkColor !important;
  }
  span {
    color       : #fff !important;
    font-weight : 400 !important;
  }
}

@define-mixin fillBottom $color: white, $image, $size: 100% {
  background-color : $color;
  background       : url($image) no-repeat bottom center;
  background-size  : $size;
 }

@define-mixin image-spacer $ar: 1.00, $max-height: 600px, $container-width: 1.00 {
  &:before {
    content: '';
    display: inline-block;
    padding-top: $ar * 100%;
    vertical-align: middle;
  }
  @media (min-width: ($max-height / ($container-width * $ar))) {
    height: $max-height;
    &:before {
       padding-top: 0;
       height: 100%;
    }
  }
}