@import "_variables";
@import "_mixins";

/*

- Resets
- Base
- Layout
- Module
- State
- Theme

Include after Bootstrap and Fonts definitions

*/


/* RESETS */
html {
    /* scrollbar fix (prevent ugly left pull for lower content sites) */
    overflow-y : scroll;
    min-height : 100%;
    height     : 100%;
}
body {
    min-height     : 100%;
    height         : 100%;
    position       : relative;
    display        : flex;
    flex-direction : column;
}
/* repeat definition of Bootstrap's container because of body display=flex */
.container-fluid {
    width : 100%;
}

/***** BASE                      */
html, body, p, ul, ol, li,
h1, h2, h3, h4, h5, h6
.tooltip, .popover {
  font-family: 'Roboto', Calibri, Arial, sans-serif;
}
html, body, p, ul, ol, li,
.tooltip, .popover
{
  font-weight: 300;
}

a:hover, a:focus {
  text-decoration : none;
  cursor          : pointer;
}
.clear {
  clear : both;
}

.btnStarlink {
  @extend %hoverButton;
  padding       : 1.5rem;
  width         : 80%;
}
    .btnStarlink--narrow {
      max-width:  300px;
    }
    @media (max-width: 991px) {
      .btnStarlink--narrow {
        margin-top: 10px;
        padding:    10px;
      }
    }

/* BLOCK: block */
.block {
  width: 100%;
  padding: 0 15px;
}
    .block--spaceUp {
       padding-top: 15px;
     }
    .block--spaceDown {
      padding-bottom: 30px;
    }
    .block--grey {
      background: #F5F6F7;
      border-top: 1px solid #E1E7EB;
    }
    .block--lightGrey {
      background: #F8F9FA;
    }
        .block__header {
          margin      : 45px auto 20px;
          text-align  : center;
          font-size   : 56px;
          font-weight : 300;
          color       : $textColor;
        }
        @media (min-width: 768px) {
          .block__header {
            font-size: 72px;
          }
        }

/* utility mixin for adding top and bottom margins */
@define-mixin top $block, $rems {
  .$(block)--top$(rems) {
    margin-top : $(rems)rem !important;
  }
}
@define-mixin bot $block, $rems {
  .$(block)--bot$(rems) {
    margin-bottom : $(rems)rem !important;
  }
}
@for $i from 0 to 15 {
  @mixin top u, $(i);
  @mixin bot u, $(i);
}

.header {
  margin      : 5rem auto 1rem;
  color       : $textColor;
  font-size   : 42px;
  line-height : 50px;
  font-weight : 300;
  text-align  : center;
}
    .header--spaceDown {
      margin-bottom : 5rem;
    }
    .header--left {
      text-align: start;
    }
    @for $i from 0 to 5 {
      @mixin top header, $(i);
      @mixin bot header, $(i);
    }

