@import "_variables";
@import "_mixins";

/*

- Resets
- Base
- Layout
- Module
- State
- Theme

Include after Bootstrap and Fonts definitions

*/


/* RESETS */
html {
    /* scrollbar fix (prevent ugly left pull for lower content sites) */
    overflow-y : scroll;
    min-height : 100%;
    height     : 100%;
}
body {
    min-height     : 100%;
    height         : 100%;
    position       : relative;
    display        : flex;
    flex-direction : column;
}
/* repeat definition of Bootstrap's container because of body display=flex */
.container-fluid {
    width : 100%;
}

/***** BASE                      */
html, body, p, ul, ol, li, h1, h2, h3, h4, h5, h6, .tooltip, .popover {
  font-family: $textFont;
}
html, body, p, ul, ol, li, .tooltip, .popover {
  font-weight: 300;
}

a:hover, a:focus {
  text-decoration : none;
  cursor          : pointer;
}
.clear {
  clear : both;
}

.btnStarlink {
  @extend %hoverButton;
  padding : 1.5rem;
  width   : 80%;
}
    .btnStarlink--narrow {
      max-width:  300px;
      @media (max-width: 991px) {
        margin-top: 10px;
        padding:    10px;
      }
    }

/* BLOCK: block */
/* TODO redo completely */
.block {
  width: 100%;
  padding: 0 15px;
}
    .block--spaceUp {
       padding-top: 15px;
     }
    .block--spaceDown {
      padding-bottom: 30px;
    }
    .block--grey {
      background: #F5F6F7;
      border-top: 1px solid #E1E7EB;
    }
    .block--lightGrey {
      background: #F8F9FA;
    }
        .block__header {
          margin      : 45px auto 20px;
          text-align  : center;
          font-size   : 56px;
          font-weight : 300;
          color       : $textColor;

          @media (min-width: 768px) {
            font-size: 72px;
          }
        }


.header {
  margin      : 5rem auto 1rem;
  color       : $textColor;
  font-size   : 42px;
  line-height : 50px;
  font-weight : 300;
  text-align  : center;
}
    .header--left {
      text-align: start;
    }
    .header--subheader {
      font-size: 26px;
      line-height: 32px;
      font-weight: 500;
    }
    .header--small {
      font-size: 20px;
      line-height: 26px;
    }
    .header--white {
      color:  color(white a(-20%));
    }

/* styles .u--top{0-12}, .u--bot{0-12}, .u--tb{0-12}, .u--all{0-12} */
@for $i from 0 to 5 {
  @mixin top        u, $(i);
  @mixin bot        u, $(i);
  @mixin topbot     u, $(i);
  @mixin allmargins u, $(i);
}
@for $i from 6 to 12 by 2 {
  @mixin top        u, $(i);
  @mixin bot        u, $(i);
  @mixin topbot     u, $(i);
  @mixin allmargins u, $(i);
}

.contrast--soft {
  color: $textColorSoft;
}

.mainText {
  font-size     : 1.75rem;
  font-weight   : 300;
  line-height   : 2.5rem;
  margin-bottom : 2.5rem;
}

.text--looseLines {
  line-height   : 1.5;
}

/***** LAYOUTS      */

.notReadyToCall {
  @mixin fillBottom hsl(60, 100%, 97%), '../images/main/paper.png', 750px;
}